@import "tailwindcss";
#root {
  margin: 0 auto;
  width: 100%;
  color: #211304;
  min-height: 100vh;
  background: linear-gradient(180deg,rgba(237, 189, 125, 1) 0%, rgba(255, 249, 232, 1) 37%);
}

/* Esconde as setinhas nativas do input*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer components{
  .Navbar {
    @apply text-2xl font-bold leading-tight;
  }
  .Navbar i {
    @apply text-3xl;
  }

}