@import "tailwindcss";
@import '@fontsource/courier-prime';
@import '@fontsource/courier-prime/400.css';
@import '@fontsource/courier-prime/400-italic.css';

:root {
  font-family: "courier-prime", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

}
body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;

}
@layer components {
  .search {
    @apply w-full bg-amber-700 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;
    /*@apply grid col-span-full lg:col-span-5;*/
    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-amber-950 outline-hidden;
    }
  }
}